hr{
  border-top: 1px solid #228CDB;
}

.about-us{
	// padding: 40px 0px;

	.about{
		padding: 40px;
		background-color: #00AEED;

		h1, p{
			color: #FFF;
		}

		p{
			font-size: 20px;
		}
	}

	.title-page{
		text-align: center;

		h1{
			margin-bottom: 40px;
		}
	}

	.asociados{
		background-color: #FFF;
		padding: 30px;

		@media (max-width: 730px){
			display: none;
		}
	}

	.body-page{
		text-align: center;
		margin: 0 auto;
		width: 700px;

		@media (max-width: 900px){
			width: 100%;
		}
	}

	.footer-page{
		// margin-top: 50px;
		background-color: #E7E7E8;
		padding: 40px;
		text-align: center;

		h1{
			margin-bottom: 40px;
			color: #000;
		}

		span{
			font-size: 18px;
			color: #000;
		}

		@media (max-width: 850px){
			.column-about{
				width: 100%!important;
				margin-top: 20px!important;
			}
		}

		.column-about{
			  width: 357px;
			  display: inline-block;
			  text-align: center;
			  vertical-align: top;
			  margin: 20px;

			  @media (max-width: 500px){
					margin: 0px;
				}

			.image-about{
				-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
				clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
				width: 280px;
				height: 350px;
			  margin: 0 auto;

				img{
					width: 100%;
					height: 100%
				}
			}

			.text-about{
				margin-top: 20px;
			}
		}
	}

	.list-group.about{
		display: inline-block;
	  width: 49%;
	  vertical-align: top;
	}
}