@font-face {
  font-family: "Montserrat";
  src: asset-url('Montserrat-Regular.otf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proxima";
  src: asset-url('ProximaNova-Regular.otf') format("truetype");
  font-weight: normal;
  font-style: normal;
}