div.btn.btn-primary{
	padding: 0px;
	a{
		padding: 6px 12px;
		display: inline-block;
		text-decoration: none;
	}
}

div.btn.btn-success{
	padding: 0px;
	a{
		padding: 6px 12px;
		display: inline-block;
		text-decoration: none;
	}
}

div.btn.btn-default{
	padding: 0px;
	a{
		color: #000;
		padding: 6px 12px;
		display: inline-block;
		text-decoration: none;
	}
}

.row-btn{
	margin-top: 10px;
}

.sign-button{
  input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    // width: 100%;
    display: inline-block;
    float: right;
    margin: 10px 0;
    color: #fff;
	  background-color: #228CDB;
	  border-color: #2e6da4;
  }
}

.btn{
	a{
		color: #FFF;
	}
}

.contact-show{
	// background: image-url("part7.jpeg") 50% 0 no-repeat fixed;
	background-size: cover;
	// min-height: 100%;
	padding: 10px;
	padding-top: 40px;

	.content-contact-show.cita{
		width: 750px;
	}

	.content-contact-show{
		width: 500px;
		// height: 400px;
		background: #FFF;
		border-radius: 15px;
		// box-shadow: 0px 0px 10px #000;
		margin: 0 auto;
		padding: 30px;
		// padding-top: 90px;

		.intro-text-contact{
			text-align: center;
			padding-top: 0px;
			// padding-bottom: 50px;

			.intro-lead-in-contact{
				margin-bottom: 10px;
				font-family: "proxima-light",Helvetica,Arial,sans-serif;
				font-size: 25px;
				font-style: italic;
				line-height: 40px;
			}

			.intro-heading-contact{
				// margin-bottom: 50px;
				// text-transform: uppercase;
				font-family: "proxima-light" ,Helvetica,Arial,sans-serif;
				font-size: 15px;
				font-weight: 700;
				line-height: 75px;

				p{
					// height: 15px;
					text-align: left;
					// text-transform: capitalize;
					color: #7C7B7B;
				  font-weight: 100;
				  line-height: 20px;
					strong{
						color: #000;
						margin-right: 10px;
						// text-transform: uppercase;
					}
				}
			}
		}

		.btn{
			padding: 6px 42px;
		}
	}
}

.hide-fields{
	display: none;
}

.show_pass_admin, .show_field_medico{
	display: inline-block;
	width: 100%;
}

.search-main{
	width: 100%;
	display: inline-block;
	margin: 10px 0px;

	.search-right{
		width: 300px;
		float: right;

		input{
			float: right;
		}
	}

	.form-control, .btn.btn-default{
		display: inline-block;
		margin: 0px 5px;
	}

	.btn.btn-default{
		width: 30%;
	}

	.form-control{
		width: 60%;
	}
}

.dos_campos_name{
	width: 10%;
}
.dos_campos_estado{
	width: 90%;
}

.btn.btn-default{
	margin-right: 10px;
}

li.user:hover {
	.sub-menu{
		right: 0!important;
		left: initial;
	}
}

.content-eps-landing-dash{
	margin-bottom: 10px;
}

#section2{
	margin-top: -10px;
}

.col-md-4.super_user{
	width: 100%;
	margin: 0 auto;
}

.content-admin-sections{
	text-align: center;

	.admin-section{
	  width: 332px;
	  background-color: #f6f9fa;
	  padding: 20px 0px;
	  text-align: left;
	  border-radius: 3px;
	  margin: 5px;
	  display: inline-block;

	  .admin-header-section{
	  	display: block;
	  	text-align: left;
  		padding: 0px 20px;

	  	img{
				height: 30px;
				display: inline-block;
				margin-right: 10px;
	  	}

	  	a{
	  		color: #626F7B;
	  		font-size: 20px;
	  		display: inline-block;
	  		text-decoration: none;

	  		&:hover{
	  			color: #3c4c5b;
	  		}
	  	}
	  }
	}
}

body.admin_system{
  background: #FFF;
}

.table-responsive{
	margin-top: 30px;
	table{

		thead tr{
			background-color: #337AB7;
			color: #FFF;
			font-size: 16px;

			th{
			  padding: 11px;
			  font-weight: 100;
			  border-bottom: 0;
			}
		}

		tbody td{
			vertical-align: middle;
		}

		tr:nth-child(odd){
		}

		tr{
		  background: #F2F3F3;
		}
		td a, td button{
			padding: 6px!important;
		}

		i{
			font-size: 20px;
			vertical-align: middle;
		}
	}
}

#contacts-form{
  margin-top: -10px;
  padding-top: 30px;
}

.btn-crud{
	width: 47px;
}

.btn-primary, .btn-default, .btn-danger, .btn-success, .btn-info{
	border: 0px solid!important;
}

.bootstrap-select{
	border: 1px solid #CCC!important;
}

.form-control{
	box-shadow: none!important;
}

body.super_user, body.administracion, body.siau, body.medico_general, body.enfermeria, body.medico_especializada{
	background-color: #FFF;
}

.contenedor-citas{
	text-align: center;
	margin-top: 20px;
  margin-bottom: 60px;

  .table-responsive{
  	margin-top: 0px;
  }

	.contenedor-verificacion{
		display: inline-block;
	  width: 1100px;
	  height: 470px;
	  margin: 0 auto;
	  background-color: #fff;
	  border-radius: 9px;
	  padding: 20px;

	  .body-ver{
	  	position: relative;
  	  background-color: #eee;
		  width: 100%;
		  height: calc(100% - 70px);
		  border-radius: 5px;
		  overflow: scroll;
	    margin-top: 10px;

	    .dont-found{
    	  position: absolute;
			  left: 0;
			  right: 0;
			  top: 100px;

			  p{
			  	font-size: 20px;
			  }
	    }
	  }
	}
}