div.btn.btn-primary{
	padding: 0px;
	a{
		padding: 6px 12px;
		display: inline-block;
		text-decoration: none;
	}
}

.sign-button{
  input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    // width: 100%;
    display: inline-block;
    float: right;
    margin: 10px 0;
    color: #fff;
	  background-color: #337ab7;
	  border-color: #2e6da4;
  }
}

.btn{
	a{
		color: #FFF;
	}
}

.contact-show{
	// background: image-url("part7.jpeg") 50% 0 no-repeat fixed;
	background-size: cover;
	// min-height: 100%;
	padding: 10px;
	padding-top: 100px;

	.content-contact-show{
		width: 500px;
		// height: 400px;
		background: rgba(221, 235, 255, 0.47);
		border-radius: 15px;
		box-shadow: 0px 0px 10px #000;
		margin: 0 auto;
		padding: 30px;
		// padding-top: 90px;

		.intro-text-contact{
			text-align: center;
			padding-top: 0px;
			// padding-bottom: 50px;

			.intro-lead-in-contact{
				margin-bottom: 0px;
				font-family: "Droid Serif",Helvetica,Arial,sans-serif;
				font-size: 15px;
				font-style: italic;
				line-height: 40px;
			}

			.intro-heading-contact{
				margin-bottom: 50px;
				text-transform: uppercase;
				font-family: "Montserrat" ,Helvetica,Arial,sans-serif;
				font-size: 15px;
				font-weight: 700;
				line-height: 75px;

				p{
					height: 15px;
					text-align: left;
				}
			}
		}

		.btn{
			padding: 6px 42px;
		}
	}
}