/* ============================
            Header
// =========================== */
body{
  // background: #e4f5fc; /* Old browsers */
  // background: -moz-radial-gradient(center, ellipse cover,  #e4f5fc 28%, #2ab0ed 99%); /* FF3.6+ */
  // background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(28%,#e4f5fc), color-stop(99%,#2ab0ed)); /* Chrome,Safari4+ */
  // background: -webkit-radial-gradient(center, ellipse cover,  #e4f5fc 28%,#2ab0ed 99%); /* Chrome10+,Safari5.1+ */
  // background: -o-radial-gradient(center, ellipse cover,  #e4f5fc 28%,#2ab0ed 99%); /* Opera 12+ */
  // background: -ms-radial-gradient(center, ellipse cover,  #e4f5fc 28%,#2ab0ed 99%); /* IE10+ */
  // background: radial-gradient(ellipse at center,  #e4f5fc 28%,#2ab0ed 99%); /* W3C */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#2ab0ed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background: #D6EDFF;
  font-family: "proxima-light"!important;

  textarea { resize:none; }

}
.header-separator{
  height: 96px;
}
header{
  background: white;
  position: fixed;
  width: 100%;
  z-index: 4;
  border-bottom: 1px solid #E7E7E8;
}
header .content{
  padding: 0 15px;
  height: 90px;
}
.logo-wrapper{
  // padding-top: 25px;

  a{
    display: inline-block;
    padding: 18px;
    img{
      height: 60px;
    }
  }
}
.principal-navigation{
  display: inline-block;
  vertical-align: top;
  margin-bottom: 0px;
}
.principal-navigation>li{
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.principal-navigation>li a{
  padding: 21px 30px;
  height: 100%;
  padding: 39px 32px;
  text-decoration: none;
  color: #6B6C6C;
  font-size: 13px;
  font-weight: 300;
  display: inline-block;
}
.principal-navigation>li.login-button a{
  margin-left: 14px;
  -webkit-appearance: none;
  background-color: #009EE1;
  font-size: 14px;
  border: 0;
  color: #FFF;
  transition: background-color 300ms ease-out;
  margin-top: 31px;
  width: 103px;
  text-align: center;
  padding: 7px 0;
  cursor: pointer;
}
.principal-navigation>li.login-button a:hover{
  background-color: #007EB4;
}
.principal-navigation li:hover{
  background-color: #555;
  color: white;
}
.principal-navigation>li:hover>a{
  color: white;
}
.principal-navigation>li a:hover{
  background: #00ADEF;
  color: white;
}
.sub-menu{
  position: absolute;
  z-index: 2;
  background: #B5B6B6;
  display: none;
}
.sub-menu a{
  padding: 0 30px;
  display: block;
  white-space: nowrap;
}
.sub-menu li:hover a{
  background: none;
}
.principal-navigation>li:hover .sub-menu{
  display: inline-block;
}
.login-button:hover{
  background: none !important;
}

.hide-list-header{
  display: none;
}

@media (max-width: 900px) {
  header{
      position: relative;
  }
  header .content {
      padding: 0 30px 0 30px;
  }
  .nav{
    display: none;
  }
  .hide-list-header{
    display: inline-block;
  }
  // .principal-navigation li{
  //     display: none;
  // }
  .principal-navigation li.login-button{
      display: inline-block;
  }
}

@media (max-width: 480px) {
  // .logo-wrapper{padding-top: 30px;}
  .logo-wrapper img{width: 119px;}

  .principal-navigation>li.login-button a{
      width: 52px;
  }
}

.content-eps-landing-dash{
  background: #228CDB;
  text-align: center;
  color: #FFF;
  padding: 10px;

  .title{
    h2{
      text-transform: uppercase;
      margin-top: 25px;
      margin-bottom: 15px;
    }
  }
}

.content-eps-landing{
  background: asset-url("bg-eps.jpg") 50% 0 no-repeat fixed;
  // background-image: asset-url('bg-eps.jpg');
  background-size: cover;
  // padding: 20px;
  min-height: calc(100% - 96px);
  position: relative;
  height: 100%;

  .title{
    h2{
      color: #FFF;
      margin-bottom: 50px;
    }
  }

  .eps-content{
    .student{
      margin: 10px 0px;
      span{
        margin-bottom: 0px!important;
        vertical-align: middle;
      }
    }
    p{
      font-size: 25px;
      color: #FFF;
    }
    span{
      font-size: 20px;
      color: #FFF;
      display: inline-block;
      margin-bottom: 10px;
    }
    span.number{
        background-color: #009EE1;
        border-radius: 50%;
        margin-right: 20px;
        height: 40px;
        width: 40px;
        text-align: center;
        margin: 0px;
        margin-right: 10px;
        padding: 6px;
    }
  }

  .background-landing{
    background: rgba(0,0,0,0.67);
    height: 100%;
    padding: 120px 20px;
  }
}
/* ============================
            Servicios
// =========================== */
.our-solutions{
  background: #FFF;

  h4{
    font-size: 20px;
  }

  p{
    font-size: 16px;
  }
}

.our-solutions-body, .our-solutions-header{
  text-align: center;
  padding: 30px;
}

.our-solutions-header{
  padding-bottom: 0px;
}

.our-solutions-body .col-md-4{
  margin-bottom: 40px;
}

.solutions-imges{
  background: #228CDB;
  border-radius: 50%;
  width: 164px;
  height: 163px;
  display: inline-block;
  position: relative;
}

.solutions-imges img{
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  margin: auto;
}

.sub-menu{
  padding-left: 0;
  top: 96px;

  @media (min-width: 901px){
    left: 0px;
  }

  @media (max-width: 900px){
    right: 0px;
  }

  li{
    list-style: none;
  }
}

.create-user{

  .alert.alert-warning{
    margin-top: 40px;
  }
}

.footer{
  background: #FFF;
  color: white;
  .row{
    padding: 20px;

    .pull-left{
      padding-top: 20px;

      .copyright, li{
        color: #000;
      }
    }

    img{
      height: 70px;
    }
  }
}

@media (max-width: 500px){
  .footer{
    .copyright{
      font-size: 12px;
    }
  }
}

@media (max-width: 900px){
  .header-separator{
    height: 0px;
  }
}

@media (max-width: 450px){
  .admin-section{
    width: 100%!important;

    a{
      font-size: 17px!important;
    }
  }
}

a.header-link{
  cursor: default;
}
